@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



@media only screen and (max-width: 768px) {
    .hero {
        padding: 10px 16px 40px;
    }

    .logo {

        padding: 20px 50px;
    }

    .hero .logo {
        flex-direction: column;
        padding: 10px 0;
        text-align: center;
    }

    .logo .logoImg {
        width: 200px;
        margin: 0 auto;
    }

    .requestMoreBtn button {
        font-size: 16px;
        padding: 10px 20px;
        /* margin-top: 20px; */
    }

    .hero .heroSection {
        flex-direction: column;
        text-align: center;

    }

    .dogImageSection {
        width: 78%;
        border: 4px solid #15FF00;
        border-radius: 100px;
        margin: 10px auto;
        display: none;
    }

    .formSection {
        width: 100%;
    }

    .formSection form {
        gap: 30px;

    }

    .namePhone,
    .addressBreed {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .formSection label {
        font-size: 25px;
    }

    .formSection input {
        font-size: 18px;
        padding: 10px 20px;
    }

    .formSection .inputBox {
        width: 95%;
        text-align: left;
        margin: auto 30px;
    }

    .formSection button {
        font-size: 20px;
        padding: 10px 20px;
    }

    .contactUs {
        flex-direction: column;
        text-align: center;
        padding: 25px 20px;
    }

    .contactUs .phonelogo {
        margin-bottom: 10px;
    }

    .availabelPets {
        padding: 10px 20px;
    }

    .dogsContrainer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dogsContrainer .dog {
        margin: 10px;
        width: 140px;
        height: 150px;
    }

    .leftSlide,
    .rightSlide {
        display: none;
    }

    .reviewsConta {
        padding: 10px 20px;
    }

    .reviewContrainer {
        flex-direction: column;
        align-items: center;
    }

    .reviewContrainer .review {
        margin-bottom: 20px;
        width: 80%;
    }

    .footerContenet {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-section form {
        width: 100%;
    }

    .footer-section input {
        width: 90%;
    }

    .footer-section button {
        width: 90%;
    }

    .footerBottom {
        text-align: center;
    }

    .socialIcons {
        justify-content: center;
    }

    .recognized {
        /* border: 3px solid red; */
        padding: 10px 20px;
        position: relative;
    }

    h1 {
        font-size: 25px;
        text-transform: uppercase;
    }

    .recognizedContainer .recog {
        Width: 50px;
        Height: 50px;
        /* border: 2px solid blue; */
        position: relative;
        overflow: hidden;
    }
}

@media only screen and (max-width: 480px) {
    .hero .logo .logoImg {
        width: 250px;
    }

    .logo {

        padding: 20px 50px;
        flex-direction: column;
    }

    .requestMoreBtn button {
        font-size: 14px;
        padding: 10px 25px;
        /* margin-top: 20px; */
    }

    .formSection input {
        font-size: 16px;
        padding: 8px 15px;
        width: 85%;
    }

    .formSection .inputBox {
        width: 95%;
        text-align: left;
        margin: auto 30px;
    }


    .reviewsConta .revieimagebox {
        /* border: 5px solid green; */
        height: 573px;
    }

    .reviewImageSize {
        border: 4px solid transparent;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }

    .reviewImageSize img {
        /* border: 4px solid red; */
        border-radius: 5px;
    }

    .footer {
        background-color: black;
        color: white;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .availabelPets .swiper-container .dogsize {
        /* border: 4px solid rgb(17, 0, 255); */
        height: 400px;
        overflow: hidden;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

}

.formSection button {
    font-size: 18px;
    padding: 8px 15px;
}

.contactUs .fa-phone-volume {
    font-size: 40px;
}

.availabelPets .fa-angle-right,
.fa-angle-left {
    font-size: 50px;
}

.reviewContrainer .review {
    width: 90%;
}

.footer-section h3 {
    font-size: 35px;
}

.footer-section p,
.footer-section a,
.footer-section label {
    font-size: 20px;
}

.footer-section input,
.footer-section button {
    font-size: 14px;
    width: 100%;
}

.socialIcons img {
    width: 50px;
}

.review .detailes {
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 10px;
}

.review img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a {
    color: white;
    text-decoration: none;
}